<!doctype HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<script src="/static/jquery2.js"></script>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{desc}}">
	<meta property="og:image" content="{{img}}">

	{%if mode == 'signup'%}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	{%endif%}

	<style type="text/css">
	body {
		font-family: 'Apple SD Gothic Neo', '맑은 고딕', sans-serif;
		padding-top: 70px;
	}
	</style>
</head>
<body>
<!--[if lte IE 8]><script>alert({{lang['noie8']}});</script><![endif]-->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">KOISTUDYS2</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{%for menu in menus%}
				<li><a href="/{{menu.url}}">{{menu.name}}</a></li>
				{%endfor%}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{%if session.username is defined%}
				<strong>{{session.username}}</strong>
				{%else%}
				<a href="/signin" class="btn btn-info navbar-btn">{{lang['signin']}}</a>
				<a href="/signup" class="btn btn-success navbar-btn">{{lang['signup']}}</a>
				{%endif%}
			</ul>
		</div>
	</div>
</nav>
<div class="container">
{{content}}
{%if mode == 'signup'%}
{%include 'signup.html'%}
{%endif%}
{%if mode == 'signup_err_captcha' or mode == 'signup_err_username' or mode == 'signup_err_password' or mode == 'signup_err_pwmatch' or mode == 'signup_err_name' or mode == 'signup_err_email'%}
{%include 'signup_err.html'%}
{%endif%}
<hr>
<footer>
<p>&copy; HLETRD, HYEA, Kenny Park, koosaga, Namnamseo 2015</p>
</footer>
</div>
</body>
</html>
