<div class="row">
	<form action="/login/submit" method="POST" class="col-md-4">
		<div class="container">
	 	<table class="table table-bordered">
			<thead>
				<tr>
					<th>Number</th>
					<th>Best Verdict</th>
					<th>Name</th>
					<th>Source</th>
					<th>Solved</th>
					<th>Tried</th>
					<th>Diff</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>AC</td>
					<td>Hello World</td>
					<td></td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>2</td>
					<td>WA</td>
					<td>Goodbye Cruel World</td>
					<td>Hell</td>
					<td>0</td>
					<td>666</td>
					<td>9</td>
				</tr>
				{%for eachprob in problist%}
				<tr>
					<td>{{eachprob.num}}</td>
					<td>{{eachprob.verdict}}</td>
					<td>{{eachprob.name}}</td>
					<td>{{eachprob.solved}}</td>
					<td>{{eachprob.tried}}</td>
					<td>{{eachprob.diff}}</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
		</div>
	</form>
</div>