{%include '_header.html'%}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#viewprob" aria-controls="viewprob" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> {{lang['viewprob_viewprob']}}</a></li>
	<li role="presentation"><a href="#submit" aria-controls="submit" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> {{lang['viewprob_submit']}}</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="viewprob">
		<table class="table">
			<thead>
				<tr>
					<th>
						<div class="row">
							<div class="col-md-12 h1"><strong>{{data.prob.display_name}}</strong></div>
						</div>
					</th>
				</th>
			</thead>
			<tbody>
				<tr class="active">
					<td>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_by']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.by}} </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_diff']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.diff}} </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_unique']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.unique_id}} </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_limit_time']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.limit_time}}ms </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_limit_memory']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.limit_memory}}MB </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_solved']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.solved}} </div>
							<div class="col-md-2 h4"><strong> {{lang['viewprob_submits']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.submits}} </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_champion']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.champion}} </div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-md-12 row h2"> {{lang['viewprob_desc']}} </div>
						<div class="col-md-12 row"> {{data.prob.desc}} </div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-md-12 row h2"> {{lang['viewprob_input']}} </div>
						<div class="col-md-12 row"> {{data.prob.input}} </div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-md-12 row h2"> {{lang['viewprob_output']}} </div>
						<div class="col-md-12 row"> {{data.prob.output}} </div>
					</td>
				</tr>
				<tr>
					<td>
						<table class="col-md-6">
							<tr>
								<td>
									<div class="col-md-6 row h2"> {{lang['viewprob_input_ex']}} </div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-md-6 row"> {{data.prob.input_ex}} </div>
								</td>
							</tr>
						</table>
						<table class="col-md-6">
							<tr>
								<td>
									<div class="col-md-6 row h2"> {{lang['viewprob_output_ex']}} </div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-md-6 row"> {{data.prob.output_ex}} </div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="submit">
		{%if session['username']%}
		{{lang['viewprob_selecttheme']}} <select id="sel_theme" onchange="settheme()">
			<option value="ambiance">ambiance</option>
			<option value="chaos">chaos</option>
			<option value="chrome">chrome</option>
			<option value="clouds">clouds</option>
			<option value="clouds_midnight">clouds_midnight</option>
			<option value="cobalt">cobalt</option>
			<option value="crimson_editor">crimson_editor</option>
			<option value="dawn">dawn</option>
			<option value="dreamweaver">dreamweaver</option>
			<option value="eclipse">eclipse</option>
			<option value="github">github</option>
			<option value="idle_fingers">idle_fingers</option>
			<option value="iplastic">iplastic</option>
			<option value="katzenmilch">katzenmilch</option>
			<option value="kr_theme">kr_theme</option>
			<option value="kuroir">kuroir</option>
			<option value="merbivore">merbivore</option>
			<option value="merbivore_soft">merbivore_soft</option>
			<option value="mono_industrial">mono_industrial</option>
			<option value="monokai">monokai</option>
			<option value="pastel_on_dark">pastel_on_dark</option>
			<option value="solarized_dark">solarized_dark</option>
			<option value="solarized_light">solarized_light</option>
			<option value="sqlserver">sqlserver</option>
			<option value="terminal">terminal</option>
			<option value="textmate">textmate</option>
			<option value="tomorrow">tomorrow</option>
			<option value="tomorrow_night">tomorrow_night</option>
			<option value="tomorrow_night_blue">tomorrow_night_blue</option>
			<option value="tomorrow_night_bright">tomorrow_night_bright</option>
			<option value="tomorrow_night_eighties">tomorrow_night_eighties</option>
			<option value="twilight">twilight</option>
			<option value="vibrant_ink">vibrant_ink</option>
			<option value="xcode">xcode</option>
		</select>
		<div id="editor" style="width: 100%; height: 500px;"></div>
		<script src="/static/ace/ace.js"></script>
		<script>
			"use strict";
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/{{data.theme}}");
			$('#sel_theme').val('{{data.theme}}')
			editor.getSession().setMode("ace/mode/c_cpp");
			editor.getSession().on('change', function(e) {
				$("#code").val(editor.getValue());
			});
			var settheme = function() {
				editor.setTheme('ace/theme/' + $('#sel_theme').val());
				$.get('/settheme/' + $('#sel_theme').val());
			};
		</script>
		<br />
		<div class="row">
			<form method="POST" action="/viewprob/{{data.prob.unique_id}}/submit" class="col-md-3 col-md-offset-9">
				<input id="code" type="hidden" name="code">
				<input type="submit" value="{{lang['viewprob_submit_btn']}}" class="btn btn-primary btn-block">
			</form>
		</div>
		{%else%}
		<h2>{{lang['viewprob_pleaselogin']}}</h2>
		{%endif%}
	</div>
</div>
{%include '_footer.html'%}