{%include '_header.html'%}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#viewprob" aria-controls="viewprob" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> {{lang['viewprob_viewprob']}}</a></li>
	<li role="presentation"><a href="#submit" aria-controls="submit" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> {{lang['viewprob_submit']}}</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="viewprob">
		<table class="table">
			<thead>
				<tr>
					<th>
						<div class="row">
							<div class="col-md-12 h1"><strong>{{data.prob.display_name}}</strong></div>
						</div>
					</th>
				</th>
			</thead>
			<tbody>
				<tr class="active">
					<td>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_unique']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.unique_id}} </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_limit_time']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.limit_time}}ms </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_limit_memory']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.limit_memory}} MB </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_solved']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.solved}} </div>
							<div class="col-md-2 h4"><strong> {{lang['viewprob_submits']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.submits}} </div>
						</div>
						<div class="row">
							<div class="col-md-2 h4"><strong> {{lang['viewprob_champion']}} </strong></div>
							<div class="col-md-2 h4"> {{data.prob.champion}} </div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-md-12 row h2"> {{lang['viewprob_desc']}} </div>
						<div class="col-md-12 row"> {{data.prob.desc}} </div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-md-12 row h2"> {{lang['viewprob_input']}} </div>
						<div class="col-md-12 row"> {{data.prob.input}} </div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="col-md-12 row h2"> {{lang['viewprob_output']}} </div>
						<div class="col-md-12 row"> {{data.prob.output}} </div>
					</td>
				</tr>
				<tr>
					<td>
						<table class="col-md-6">
							<tr>
								<td>
									<div class="col-md-6 row h2"> {{lang['viewprob_input_ex']}} </div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-md-6 row"> {{data.prob.input_ex}} </div>
								</td>
							</tr>
						</table>
						<table class="col-md-6">
							<tr>
								<td>
									<div class="col-md-6 row h2"> {{lang['viewprob_output_ex']}} </div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="col-md-6 row"> {{data.prob.output_ex}} </div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="submit">
		{%if session['username']%}
		<div id="editor" style="width: 100%; height: 500px;"></div>
		<script src="/static/ace/ace.js"></script>
		<script>
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/chrome");
			editor.getSession().setMode("ace/mode/c_cpp");
		</script>
		{%else%}
		<h2>{{lang['viewprob_pleaselogin']}}</h2>
		{%endif%}
	</div>
</div>
{%include '_footer.html'%}